# Node modules
node_modules/
dist/
build/
.env

# IDE / System files
.vs/
.idea/
.vscode/
*.suo
*.user
*.db
*.log
.DS_Store

# Frontend/Backend local envs
hrms-api/.env
hrms-ui/.env
hrms-ui/.env.local
hrms-gateway/.env
